*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/images/bg-pattern-top-desktop.svg");
    font-family: 'League Spartan', sans-serif;
    background-repeat: no-repeat;
    font-size: 15px;
    background-color:  hsl(0, 0%, 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */

}

.container{
    display: grid;
    gap: 2.5rem;
    margin: 5%;
    width: 85%;
}


/****************************************/
.item1{
    grid-row: 1/1;
    color: hsl(300, 43%, 22%) ;
    padding: 5%;
}

.item1 h1, p{
    margin-bottom: 5%;
}
.item1 h1{
    font-size: 35px;
}
.item1 p{
    color: hsl(303, 10%, 53%);
}


/**************************************/
.item2{
    grid-row: 1/1;
}

.rates-review, .rates-guru, .rates-best-tech{
    background-color:hsl(300, 24%, 96%);
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
    padding: 1rem;
    width: 80%;
    border-radius: 5px;
    color:hsl(300, 43%, 22%) ;
    font-weight: 700;
}

.rates-review{
    transform: translateX(5%);
}

.rates-best-tech{
    transform: translateX(15%);
}

.rates-guru{
    transform: translateX(10%);
}


/********************************/
.item3 {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    color: white;
}

.person{
    background-color:hsl(300, 43%, 22%);
    border-radius: 5px;
    text-align: center;
    padding: 4%;
    margin: 5%;
}


.buyer{
    display: flex;
}

.buyer img{
    width: 50%;
    border-radius: 50%;
}


.pink{
    color:  hsl(333, 80%, 67%);
}

.buyer-review{
    margin: 5px 0;
}


.person1{
    transform: translateY(-17%);
}

.person2{
    transform: translateY(-10%);
}

.person3{
    transform: translateY(-5%);
}

/********************* media quieries*************************/

@media  screen and (max-width:700px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 5%;
        height: 100vh; 
       }
    .item1{
        margin-top: 5%;
        text-align: center;
    }
    .item3{
        display: flex;
        flex-direction: column;   
     }



   .rates-review, .rates-guru, .rates-best-tech{
        display: flex;
        flex-direction: column;
        align-items: center;
        transform:translateX(10%) ;
    }
}